<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container">

Добро пожаловать в {{ title }}. <br>
Тут собрано {{ books|length }} книг из моей личной коллекции. <br>

<table class="table table-striped">
    {% for book in books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.ISBN }}</td>
            <td>{{ book.description }}</td>
            <td>{{ book.year_release }}</td>
            <td>{{ book.author.full_name }}</td>
            <td>{{ book.author.country }}</td>
            <td>{{ book.copy_count }}</td>
            <td>
                <form action="/index/book_increment/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" value="+1" />
                </form>
                <form action="/index/book_decrement/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{book.id}}" />
                    <input type="submit" value="-1" />
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</div>
